<div class="container">
	<div class="row row-centered">
		<div class="col-xs-6 col-centered">
<h1>What foods that what you want?</h1>
<div class="checkbox">
<%= check_box_tag 'id-food', 'indonesian-food', class: 'checkbox'  %>
<%= label_tag :checkbox, 'Indonesian food' %>
</div>
<div class="checkbox">
<%= check_box_tag 'in-food', 'international-food', class: 'checkbox'  %>
<%= label_tag :checkbox, 'International food' %>
</div>
	<div id="open-id">
		<%= render "idfood"  %>
	</div>
	<div id="open-in">
		<%= render "intfood"  %>
	</div>
	<div id="form_search">
		<%= form_tag data_search_path, method:'get', remote: true do   %>
		<%= text_field_tag :search, '', size:20, :autocomplete => :off, :class => "searchbox"  %>
		<%= submit_tag 'search', :id => 'search_key', :style => "display: none;" %>
		<% end %>
	</div>

<div id="food"></div>
</div>
</div>
</div>